.generate-button {
    margin-top: 1rem;
}

.generate-button__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: .75rem;
    width: 100%;
    background-color: #72f797;
    border: 1px solid transparent;
    cursor: pointer;
}

.generate-button__btn:hover {
    color: #72f797;
    background-color: #24232b;
    border: 1px solid #72f797;
}

.generate-button__btn:hover 
.generate-button__btn-img {
    filter: invert(77%) sepia(40%) saturate(525%) hue-rotate(79deg) brightness(104%) contrast(94%);
}

.generate-button__btn-text {
    text-transform: uppercase;
    font-weight: 600;
}

.generate-button__btn-img {
    height: 2rem;
    width: 1.5rem;
}