.password-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.password-display__text {
    color: white;
    font-weight: 600;
}

.password-display__copy-btn {
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
    border: none;
}

.password-display__copy-img {
    width: 1.5rem;
    height: 1.5rem;
}

.password-display__copy-btn:hover
.password-display__copy-img {
    filter: brightness(0) invert(1)
}
