.password-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-display__text {
    color: white;
}

.password-display__copy-btn {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    border: none;
}

.password-display__copy-img {
    width: 2rem;
    height: 2rem;
}

.password-display__copy-btn:hover
.password-display__copy-img {
    filter: brightness(0) invert(1)
}
