footer {
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 1rem 0;
}

.footer__link {
    color: white;
}

.footer__link:hover {
    color: #72f797;
}